<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }} - dorel.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Fundament style to reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="{{ site.style_cdn }}/includes/reset-custom.css">

  {% comment %}
    *
    * webcomponents-lite.min.js = polyfill for polymer elements
    *
  {% endcomment %}

  <script src="{{ site.bower_dir }}/webcomponentsjs/webcomponents-lite.min.js"></script>

  <link rel="import" href="{{ site.bower_dir }}/paper-header-panel/paper-header-panel.html">
  <link rel="import" href="{{ site.bower_dir }}/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="{{ site.bower_dir }}/paper-ripple/paper-ripple.html">
  <link rel="import" href="{{ site.bower_dir }}/iron-media-query/iron-media-query.html">
  <!-- custom polymer element source: https://github.com/The5heepDev/iron-grid -->
  <link rel="import" href="{{ site.bower_dir }}/iron-grid/iron-grid.html">
  <link rel="import" href="{{ site.bower_dir }}/iron-icons/iron-icons.html">
  <link rel="import" href="{{ site.bower_dir }}/iron-icons/maps-icons.html">
  <link rel="import" href="{{ site.bower_dir }}/iron-flex-layout/iron-flex-layout.html">
  <link rel="import" href="{{ site.bower_dir }}/iron-flex-layout/iron-flex-layout-classes.html">

  <link rel="import" href="{{ site.bower_dir }}/paper-styles/typography.html">
  <link rel="import" href="{{ site.bower_dir }}/paper-styles/shadow.html">

  <!-- 
    Themes 
    - Add theme files the <head> tag _AFTER_ the
      webcomponents-lite.min.js and other HTML imports. 
    - These can be used for the template switcher.
  -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,700,800" rel="stylesheet">

  <link rel="import" href="{{ site.style_cdn_brands_dir }}/theme-dorel-config.html">
  <link rel="import" href="{{ site.style_cdn_brands_dir }}/theme-dorel-style.html">

</head>
