<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }} - dorel.io</title>

  <!--link rel="css/stylesheet" href="style.css"-->

  {% comment %}
    *
    * webcomponents-lite.min.js = polyfill for polymer elements
    *
  {% endcomment %}
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
  <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
  <!--link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html"-->

  <!--script src="/bower_components/platform/platform.js"></script-->
</head>
