<!--
-->

<link rel="import" href="../../../../assets/bower_components/polymer/polymer.html">
<!-- <link rel="import" href="../polymer/polymer.html"> -->

<dom-module id="reveal-color-apply-colors">
  <style is="custom-style">
      /* 
       * Colors to apply
       * - maybe add this in a shared style file
       */
      .ktch_theme-brand-color {
        background-color: var(--theme-brand-color);
      }
      .ktch_theme-brand-color-complementary {
        background-color: var(--theme-brand-color-complementary);
      }
      .ktch_theme-color-link {
        background-color: var(--theme-color-link-primary);
      }
      .ktch_theme-color-hover {
        background-color: var(--theme-color-hover);
      }
      .ktch_theme-color-cta {
        background-color: var(--theme-color-cta);
      }
      .ktch_theme-color-primary-text-color {
        background-color: var(--theme-primary-text-color);
      }
      .ktch_theme-color-black {
        background-color: var(--theme-black);
      }
      .ktch_theme-color-white {
        background-color: var(--theme-white);
      }
      .ktch_theme-color-background {
        background-color: var(--theme-color-background);
      }
      .ktch_theme-color-background-secondary {
        background-color: var(--theme-color-background-secondary);
      }
      .ktch_theme-color-background-tertiary {
        background-color: var(--theme-color-background-tertiary);
      }
      .ktch_theme-color-foreground {
        background-color: var(--theme-color-foreground);
      }
      .ktch_theme-color-foreground-secondary {
        background-color: var(--theme-color-foreground-secondary);
      }
      .ktch_theme-color-foreground-tertiary {
        background-color: var(--theme-color-foreground-tertiary);
      }
      .ktch_theme-color-highlight {
        background-color: var(--theme-color-highlight);
      }
      .ktch_theme-color-disabled {
        background-color: var(--theme-color-disabled);
      }
      .ktch_theme-color-information-foreground {
        background-color: var(--theme-color-information-foreground);
      }
      .ktch_theme-color-information-background {
        background-color: var(--theme-color-information-background);
      }
      .ktch_theme-color-confirmation-foreground {
        background-color: var(--theme-color-confirmation-foreground);
      }
      .ktch_theme-color-confirmation-background {
        background-color: var(--theme-color-confirmation-background);
      }
      .ktch_theme-color-warning-foreground {
        background-color: var(--theme-color-warning-background);
      }
      .ktch_theme-color-warning-background {
        background-color: var(--theme-color-warning-background);
      }
      .ktch_theme-color-danger-foreground {
        background-color: var(--theme-color-danger-foreground);
      }
      .ktch_theme-color-danger-background {
        background-color: var(--theme-color-danger-background);
      }
     </style>
  <template>
  <script>
    Polymer({
      is: 'reveal-color-apply-colors'
    });
  </script>
</dom-module>