<head>
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }} - dorel.io</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Fundament style to reset browser defaults -->
  <link rel="stylesheet" type="text/css" href="{{ site.cdn_style }}/includes/reset-custom.css">

  {% comment %}
    *
    * webcomponents-lite.min.js = polyfill for polymer elements
    *
    * important: include this file before any code that touches the DOM
    *
  {% endcomment %}

  <script src="{{ site.bower_dir }}/webcomponentsjs/webcomponents-lite.min.js"></script>

  <link rel="import" href="/src/pages/app-page-kitchensink.html" async>

  <style>

    body {
      font: 20px sans-serif;
    }

  </style>

</head>

<body>

  <app-page-kitchensink></app-page-kitchensink>

</body>